n8n-workflows/LedgerPilots - Webhooks.json
{
  "name": "LedgerPilots - Webhooks",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/ingestions/:id/start",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -512,
        352
      ],
      "id": "9070e801-98ce-43e3-810f-3bf57c79ca32",
      "name": "start processing",
      "webhookId": "34617575-b13d-4d9e-9e3e-926e3016529a"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"ok\": true, \"ingestion_id\": \"thisisworkinguuid\", \"state\": \"Extracting\" }\n",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -288,
        352
      ],
      "id": "90d1e83b-629f-42b6-8aad-6d8afcba4b9a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sfWBZ0grs4biurxI",
          "mode": "list",
          "cachedResultUrl": "/workflow/sfWBZ0grs4biurxI",
          "cachedResultName": "LedgerPilot - Process Ingestion V2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ingestion_id": "={{ $json.params.id }}"
          },
          "matchingColumns": [
            "ingestion_id"
          ],
          "schema": [
            {
              "id": "ingestion_id",
              "displayName": "ingestion_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -64,
        352
      ],
      "id": "39d1ad0d-b221-4536-b6bc-96797dfa4992",
      "name": "Process Ingestion"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/approvals/:ingestion_id/approve",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -512,
        576
      ],
      "id": "2a607c1b-dcf8-4752-b584-b70ddab3e909",
      "name": "approve ingestion",
      "webhookId": "34617575-b13d-4d9e-9e3e-926e3016529a"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1zL6Aou9TsUg0mRT",
          "mode": "list",
          "cachedResultUrl": "/workflow/1zL6Aou9TsUg0mRT",
          "cachedResultName": "LedgerPilot - HandleApproval"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ingestion_id": "={{ $json.params.ingestion_id }}"
          },
          "matchingColumns": [
            "ingestion_id"
          ],
          "schema": [
            {
              "id": "ingestion_id",
              "displayName": "ingestion_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -64,
        576
      ],
      "id": "2e3f8970-171f-4281-aa05-9fc435847b2e",
      "name": "Add Bill"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/approvals/:ingestion_id/reject",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -512,
        800
      ],
      "id": "f3c34d2f-4cfd-462e-af85-3c2d922542ef",
      "name": "reject ingestion",
      "webhookId": "34617575-b13d-4d9e-9e3e-926e3016529a"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -288,
        576
      ],
      "id": "6ade9347-f6ef-4f7c-b343-3e5eae9631cb",
      "name": "respond approval"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -288,
        800
      ],
      "id": "3bb64c6e-6747-45c8-bb85-c5636e0d99ed",
      "name": "respond rejection"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0d7Fa4nL6XEUeGtz",
          "mode": "list",
          "cachedResultUrl": "/workflow/0d7Fa4nL6XEUeGtz",
          "cachedResultName": "LedgerPilot - HandleRejection"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ingestion_id": "={{ $json.params.ingestion_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ingestion_id",
              "displayName": "ingestion_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -64,
        800
      ],
      "id": "d370fd19-ca56-4b5b-84f5-f538ea11ff2f",
      "name": "Call 'LedgerPilot - HandleRejection'"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/zoho/:org_id/:auth_code/refresh",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -512,
        1024
      ],
      "id": "bbb14e06-9432-4056-b0fd-be2a71535c64",
      "name": "refresh token",
      "webhookId": "34617575-b13d-4d9e-9e3e-926e3016529a"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "oauth_tokens",
        "filters": {
          "conditions": [
            {
              "keyName": "org_id",
              "keyValue": "={{ $json.org_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -64,
        1024
      ],
      "id": "ab82b67d-21bd-441b-89b1-51d87c2f1ccc",
      "name": "get org tokens",
      "credentials": {
        "supabaseApi": {
          "id": "YGlNQsor4RTqQEn4",
          "name": "InvoicePilot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://accounts.zoho.in/oauth/v2/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "authorization_code"
            },
            {
              "name": "client_id",
              "value": "={{ $json.client_id }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $json.client_secret }}"
            },
            {
              "name": "redirect_uri",
              "value": "https://n8n.neuraledgen8n.live/"
            },
            {
              "name": "code",
              "value": "={{ $('refresh token').item.json.params.auth_code }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        1024
      ],
      "id": "328ce14a-8362-4277-a61d-c2ce9ef0dd74",
      "name": "get refresh token"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "oauth_tokens",
        "filters": {
          "conditions": [
            {
              "keyName": "org_id",
              "condition": "eq",
              "keyValue": "={{ $('set').item.json.org_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "refresh_token",
              "fieldValue": "={{ $json.refresh_token }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        384,
        1024
      ],
      "id": "7d192370-37a9-4449-9321-133df446f5d6",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "YGlNQsor4RTqQEn4",
          "name": "InvoicePilot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "762958f7-e3a7-41c6-be00-ab60c60107de",
              "name": "org_id",
              "value": "={{ $json.params.org_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        1024
      ],
      "id": "9c1a6b0a-7692-4212-9ffa-269e61d1e882",
      "name": "set"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        672,
        1024
      ],
      "id": "63046ee9-bacb-4a85-a3f4-c76c9edb1819",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "start processing": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Process Ingestion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "approve ingestion": {
      "main": [
        [
          {
            "node": "respond approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "respond approval": {
      "main": [
        [
          {
            "node": "Add Bill",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reject ingestion": {
      "main": [
        [
          {
            "node": "respond rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "respond rejection": {
      "main": [
        [
          {
            "node": "Call 'LedgerPilot - HandleRejection'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "refresh token": {
      "main": [
        [
          {
            "node": "set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get org tokens": {
      "main": [
        [
          {
            "node": "get refresh token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get refresh token": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set": {
      "main": [
        [
          {
            "node": "get org tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c1ea7765-1ae5-458e-84fa-ed8d83816e76",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6879c4d326ba21d1ccb65b8539bd2e9444dca559b9181b34dd45567cb223f8c9"
  },
  "id": "3BFZkrebG0wuIQrE",
  "tags": []
}